---
import DefaultLayout from '../layouts/DefaultLayout.astro';

// Components
import Button from '../components/Button.astro'
import Badge from '../components/Badge.astro';
import Project from '../components/Project.astro';
import SocialButton from '../components/SocialButton.astro';
import Link from '../components/Link.astro';

// Astro Components
import { getCollection, getEntry } from 'astro:content';
import { Image } from 'astro:assets';

// Import profile
const profile = await getEntry('profiles', '2024-02-09-braddotwav');

// Import projects
const projects = await getCollection('projects');
const sortedProjects = projects.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---
<DefaultLayout title=`@${profile.data.name}`>
    <main>
        <!-- Profile Section -->
        <section id="profile" class="h-screen">
            <!-- Project Button -->
            <div id="projectBtn" class="fixed right-1 p-5">
                <Button title=`Projects (${projects.length})` href='#projects'/>
            </div>

            <!-- Profile Content -->
            <div class="h-full flex flex-col items-center justify-center gap-6">
                <!-- Avatar -->
                <div class="w-32 max-w-32">
                    <Image src={profile.data.avatar as ImageMetadata} alt={profile.data.name} width="128" height="128" priority={true} class='rounded-full' loading='eager' />
                </div>

                <!-- Intro -->
                <div class="flex flex-col items-center gap-2">
                    <h2 class="text-primary font-semibold text-3xl">{profile.data.name}</h2>
                    <p class="text-secondary">{profile.data.description}</p>
                </div>

                <!-- Tools -->
                <div class="flex flex-col items-center gap-2 w-fit p-4">
                    <h3 class="text-secondary font-mono self-center">TOOLSET:</h3>
                    <div class="flex flex-row flex-wrap gap-3 mx-12">
                        {profile.data.tools.map((toolset: string) => (
                            <Badge>
                                <p>{toolset.toUpperCase()}</p>
                            </Badge>
                        ))}
                    </div>
                </div>
            </div>
        </section>

        <!-- Project Section -->
        <section id="projects" class="flex flex-col">
                {sortedProjects.map((entry) => (
                <div class="border-b border-border-primary">
				<Project project={entry}/>
                </div>
			))}
            </div>
        </section>

        <!-- Footer -->
        <footer class="bg-[#08090a] text-white py-12">
            <div class="container mx-auto flex flex-col gap-6 sm:flex-row justify-center sm:justify-between items-center">
                <!-- Back to top -->
                <Link href='#profile'>
                    <span class="text-sm font-mono self-center text-primary-300 hover:text-accent">BACK TO TOP</span>
                </Link>

                <!-- Socials -->
                <div class="flex flex-row gap-6 justify-end">
                    <p class="text-sm font-mono self-center text-primary-300">SOCIALS:</p>
                    {profile.data.socials ? profile.data.socials.map((social: string) => (
                        <SocialButton href={social}/>
                    )) : ''}
                </div>
            </div>
        </footer>
    </main>
</DefaultLayout>

<script>
  const projectBtn = document.getElementById('projectBtn');
  const projectSection = document.getElementById('projects');

  function handleProjectScroll() {
      if (!projectBtn || !projectSection) return;

      const sectionTop = projectSection.offsetTop;
      const scrollPosition = window.scrollY;

      const distance = sectionTop - scrollPosition;

      if (distance <= 0) {
          projectBtn.style.opacity = '0';
          projectBtn.style.visibility = 'hidden';
      }
      else {
          const opacity = distance / sectionTop;
          projectBtn.style.opacity = opacity.toString();
          projectBtn.style.visibility = 'visible';
      }
  }

  window.addEventListener('scroll', handleProjectScroll);
</script>
