---

// General CSS
import '../style/general.css'

// Components
import Button from '../components/Button.astro'
import Badge from '../components/Badge.astro';

// Astro Components
import { Image } from 'astro:assets';
import { getCollection, getEntry } from 'astro:content';

// Import profile
const profile = await getEntry('profiles', '2024-02-09-braddotwav');
---
<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>@{profile.data.title}</title>
    </head>
    
    <body>
        <!-- Profile Header -->
        <div style="height: 60svh;">
            
            <!-- Navigation -->
            <nav class="fixed right-1 p-5 z-10">
                <Button title='Projects' href='#projects'/>
                
                {profile.data.resumeLink ?
                    <div class="hidden md:block">
                        <Button title='Resume' href={profile.data.resumeLink}></Button>
                    </div>
                : ''}
            </nav>

            <!-- Profile Content -->
            <section class="h-full flex flex-col items-center justify-center gap-6">
               
                <!-- Picture -->
                <Image src={profile.data.avatar} alt={"avatar"} width={144} height={144} class:list={"rounded-[99px]"}></Image>
                
                <!-- Intro -->
                <div class="flex flex-col items-center gap-2 text-white">
                    <h2 class="font-semibold text-3xl">{profile.data.title}</h2>
                    <p>{profile.data.description}</p>
                </div>
                    
                <!-- Badges -->
                <div class="flex flex-col items-center gap-2 w-fit p-4">
                    <h3 class="font-mono self-center text-primary-400">COMMON TOOLSET:</h3>
                    <div class="flex flex-row flex-wrap gap-3">
                        {profile.data.toolset.map((toolset: string) => (
                            <Badge>
                                <p>{toolset.toUpperCase()}</p>
                            </Badge>
                        ))}
                    </div>
                </div>

            </section>

        </div>
		
    </body>

</html>