---
// General CSS
import '../style/general.css'

// Components
import Button from '../components/Button.astro'
import Badge from '../components/Badge.astro';
import Project from '../components/Project.astro';
import SocialButton from '../components/SocialButton.astro';
import Link from '../components/Link.astro';

// Astro Components
import { getCollection, getEntry } from 'astro:content';
import { Image } from 'astro:assets';

// Import profile
const profile = await getEntry('profiles', '2024-02-09-braddotwav');
const metaDescription = `${profile.data.name} - ${profile.data.description}`
const metaImage = new URL(profile.data.hero.src, Astro.site).toString();

// Import projects
const projects = await getCollection('projects');

const sortedProjects = projects.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---
<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Meta Tags -->
        <meta charset="UTF-8">
        <title>@{profile.data.name}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content={metaDescription}>
        <meta name="image" content={metaImage}>
        <meta name="author" content={profile.data.name}>

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content={Astro.url}>
        <meta property="og:type" content="website">
        <meta property="og:title" content={profile.data.name}>
        <meta property="og:description" content={metaDescription}>
        <meta property="og:image" content={metaImage}>

        <link rel="icon" href={profile.data.avatar.src}>
    </head>

    <body>
        <main>
            <!-- Profile Section -->
            <section id="profile" class="h-screen">
                <!-- Project Button -->
                <div id="projectBtn" class="fixed right-1 p-5 z-10">
                    <Button title=`Projects (${projects.length})` href='#projects'/>
                </div>

                <!-- Profile Content -->
                <div class="h-full flex flex-col items-center justify-center gap-6">
                    <!-- Avatar -->
                    <div class="w-32 max-w-32">
                      <Image src={profile.data.avatar} alt={profile.data.name} width="128" height="128" priority={true} class='rounded-full' loading='eager' />
                    </div>

                    <!-- Intro -->
                    <div class="flex flex-col items-center gap-2 text-white">
                        <h2 class="font-semibold text-3xl">{profile.data.name}</h2>
                        <p class="text-primary-300">{profile.data.description}</p>
                    </div>

                    <!-- Tools -->
                    <div class="flex flex-col items-center gap-2 w-fit p-4">
                        <h3 class="font-mono self-center text-primary-300">TOOLSET:</h3>
                        <div class="flex flex-row flex-wrap gap-3 mx-12">
                            {profile.data.tools.map((toolset: string) => (
                                <Badge>
                                    <p>{toolset.toUpperCase()}</p>
                                </Badge>
                            ))}
                        </div>
                    </div>
                </div>
            </section>

            <!-- Project Section -->
            <section id="projects" class="container mx-auto my-2">
                <div class="flex flex-col gap-24 mb-24">
                    {sortedProjects.map((entry) => (
						<Project project={entry}/>
					))}
                </div>
            </section>

            <!-- Footer -->
            <footer class="bg-black text-white p-12">
                <div class="container mx-auto flex flex-col gap-6 sm:flex-row justify-center sm:justify-between items-center">
                    <!-- Back to top -->
                    <Link href='#profile'>
                        <span class="text-sm font-mono self-center text-primary-300 hover:text-accent-400">BACK TO TOP</span>
                    </Link>

                    <!-- Socials -->
                    <div class="flex flex-row gap-6 justify-end">
                        <p class="text-sm font-mono self-center text-primary-300">SOCIALS:</p>
                        {profile.data.socials ? profile.data.socials.map((social: string) => (
                            <SocialButton href={social}/>
                        )) : ''}
                    </div>
                </div>
            </footer>

        </main>
    </body>

</html>

<script>
  const projectBtn = document.getElementById('projectBtn');
  const projectSection = document.getElementById('projects');

  function handleProjectScroll() {
      if (!projectBtn || !projectSection) return;

      const sectionTop = projectSection.offsetTop;
      const scrollPosition = window.scrollY;

      const distance = sectionTop - scrollPosition;

      if (distance <= 0) {
          projectBtn.style.opacity = '0';
          projectBtn.style.visibility = 'hidden';
      }
      else {
          const opacity = distance / sectionTop;
          projectBtn.style.opacity = opacity.toString();
          projectBtn.style.visibility = 'visible';
      }
  }

  window.addEventListener('scroll', handleProjectScroll)
</script>
