---
// Import astro icon component
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import SocialButton from './SocialButton.astro';

// Create interface
interface Props{
    project: CollectionEntry<'projects'>;
}

const { project } = Astro.props;

// Get project tools as string
const projectTools:string = project.data.createdWith.join(', ').toString();
---
<!-- Project component start -->
<div class="w-full overflow-hidden bg-primary-800 border-primary-600 hover:border-primary-400 border-solid border-4 rounded-[64px] transition-all cursor-default">
    <div class="projectContainer relative grid grid-rows-1 grid-cols-1 lg:grid-cols-2 grid-flow-col gap-4 p-10 z-10">
        <div class="relative flex items-center h-60">
            <div class="absolute max-w-md project transition-opacity duration-300">
                <!-- Project details-->
                <div class="flex flex-col gap-6 text-white">
                    <!-- Project title -->
                    <div class="flex flex-col gap-1">
                        <h3 class="font-mono text-primary-400 text-sm">PROJECT TITLE:</h3>
                        <h2 class="font-semibold text-3xl">{project.data.title}</h2>
                    </div>
                    <!-- Project type -->
                    <h3 class="font-mono text-primary-400 text-sm">PROJECT TYPE: <span class="text-accent-400">{project.data.category.toString()}</span></h3>
                </div>
            </div>

            <!-- Project inspect -->
            <div class="absolute max-w-md inspect opacity-0 transition-opacity duration-300">
                <div class="flex flex-col gap-6 text-white">
                    <!-- Project summary -->
                    <div class="flex flex-col gap-1">
                        <h3 class="font-mono text-primary-400 text-sm">PROJECT SUMMARY:</h3>
                        <p>{project.data.description}</p>
                    </div>
                    <!-- Project tools used -->
                    <div class="flex flex-col gap-1">
                        <h3 class="font-mono text-primary-400 text-sm">TOOLS USED:</h3>
                        <p>{projectTools}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Project link -->
        <div class="hidden lg:block">
            <div class="projectLinks flex flex-row gap-8 items-center h-full justify-center opacity-0 transition-all duration-300">
                {project.data.links ? project.data.links.map((link: string) => (
                    <SocialButton href={link} size={64} newTab={true} class:list={"text-primary-400 hover:text-accent-400"}/>
                )) : ''}
            </div>            
        </div>
        <!-- Project image -->
        <Image src={project.data.image} alt="project" width={1} height={1} class:list={"projectImage rounded-xl hidden lg:block absolute right-1 bottom-1 w-3/5 translate-y-2/4 transition-all -z-10"}/>
    </div>
</div>

<!-- Component style -->
<style>
.projectContainer:hover .project{
    opacity: 0;
}

.projectContainer:hover .inspect{
    opacity: 1;
}

.projectContainer:hover .projectImage{
    filter: blur(12px);
}

.projectContainer:hover .projectLinks{
    opacity: 1;
}
</style>